<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="nav.visible"> 
  <a class="navbar-brand" routerlink="/client">mobile repairs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarnavaltmarkup" aria-controls="navbarnavaltmarkup" aria-expanded="false" aria-label="toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarnavaltmarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerlink="/client" href="#">clienti<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerlink="/comanda" href="#">comenzi</a>
      <a class="nav-item nav-link" routerlink="/telefon" href="#">telefoane</a>
      <a class="nav-item nav-link" routerlink="/defectiune" href="#">defectiuni</a>
    </div>
    <span class="navbar-text">
      <a class="nav-item nav-link" routerlink="/login" href="#">log out</a>
    </span>
  </div>
</nav>

