<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="nav.visible"> 
  <a class="navbar-brand" routerlink="/client">Mobile Repairs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarnavaltmarkup" aria-controls="navbarnavaltmarkup" aria-expanded="false" aria-label="toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarnavaltmarkup">
    <div class="navbar-nav mr-auto">

      <a class="nav-item nav-link" routerlink="/client" href="http://localhost:4200/client">Clienti<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerlink="/comanda" href="http://localhost:4200/comanda">Comenzi</a>
      <a class="nav-item nav-link" routerlink="/telefon" href="http://localhost:4200/telefon">Telefoane</a>
      <a class="nav-item nav-link" routerlink="/defectiune" href="http://localhost:4200/defectiune">Defectiuni</a>

    </div>
    <span class="navbar-text">
      <a class="nav-item nav-link" routerlink="/login" href="#">Log out</a>
    </span>
  </div>
</nav>

